.SecondContainer{
    align-self: center;
    align-content: center;
    justify-content: center;
  
  }
  
  .second-container-title{
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  }
  
  .second-container   .desc{
    text-align: center;
  }