:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-x: hidden;
}





button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
text-align: center;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e742c1;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


/* =================================================================RESPONSIVE- =================================================================*/
@media screen and (max-width:992px) {

  body{
      overflow-x: hidden;
  }
  .Products{
      width: 90%;
      justify-content: space-around;
      align-items: center;
      align-content: center;
  padding: 0;
  margin-left: 30px;
  }

  .Aproduct{
      width: 50%;
      margin: 20px  5px  10px  0px ;
  }


}



@media screen  and  (max-width:768px){
  .kit-img{
      display: none;

  }
  .beauty-kit{
      width: 100%;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
  }

  .burger{
    left:0;
    top:0;
    position: absolute;
    width:20px;
    margin-top: 40px;
  }



  .FirstContainer .desc{
      align-items: center;
      text-align: center;
  }


  .beauty-kit h1{
  font-size: 70px;
  font-family:"Great Vibes";
  margin-top: 90px;

  }
.FirstContainer{
  background-size: cover;
  padding: 0;
}

.Aproduct{
  min-width: 70%;
  min-height: 70vh;
}

.Products{
  width: 100%;
  padding: 0;
  margin: 0;
}


.logo{
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
margin-left: -70px;
}

.Header{
justify-content: space-between;
align-content: center;
align-items: center;
width: 100vw;
text-align: center;
}
.glass{
  display: none;
}
.user{
  display: none;
}

.cart{
  right:0;
  top: 0;
  position:absolute;
  margin-top:20px;
}

nav {
  display: flex;
  z-index: 3;
}

.burger{
  transform: translateY(0);
}

nav img{
  width: 40px;
}

}

@media screen and (max-width:992px) {
  .CartProduct{
      width: 80%;

  }
}


@media screen and (max-width: 768px) {
  body{
      overflow-x: hidden;
  }
.Header
  
  .logo{
      text-align: center;
      margin-top: 8px;
      margin-bottom: 0;
  }
  


  .burger{
      transform: translateY(0);
  }
  


  .Cartbar{
      width: 100%;
      left: 0;
      margin-left: 0;
      justify-content: space-around;
      display: block;
  }

  .CartProduct{
      width: 90%;
      min-height: 50vh;
      
  }

  .cartbuttons{
justify-content: space-between;
width: 100%
  }

  .CartProducts{
      width: 100%;
      margin-left: -30px;
  }

  .product-body img{
    width: 60%;
    }

    .cart{
      right:0;
      top: 0;
      position:absolute;
      margin-top:20px;
    }
}