/*-----------------------------NAV-------------*/
nav{
    /* display: none; */
     padding: 30px;
     position: fixed;
     width: 60vw;
     min-height: 50vh;
     height: 100vh ;
     flex-direction: column;
     /* background: linear-gradient(255,255,0.5); */
     backdrop-filter: blur(10px);
     padding: 20px 40px;
     justify-content: center;
     align-items: center;
     align-content: center;
     border-bottom: 1px solid rgb(207, 207, 207);
     transition: transform 1s cubic-bezier(0.73, 0.11, 0.67, 0.84);
     transform: translateX(-200vh);
     z-index: -1;
     text-align: center;
 }
 nav.active{
     transform: translateX(0);
 }